// font-family: 'Norican', cursive;
// font-family: 'Roboto', sans-serif;
    
@mixin roboto($size)
    font-family: 'Roboto', sans-serif
    font-size: $size
    font-weight: 300

@mixin roboto14()
    font-family: 'Roboto', sans-serif
    font-size: 14px
    font-weight: 300

@mixin norican($size)
    font-family: 'Norican', cursive
    font-size: $size