$left_width: 188px
$max_width: 1280px

// $c_container_background: rgb(245, 245, 242)
$c_container_background: gray
$c_container_gray: #a6a6a6
$c_line_color: #e3e3e3

$c_white: rgb(255, 255, 255)
$c_black25: rgb(25, 25, 25)

$c_menu_orange: #f58220
$c_menu_item_black: rgb(40, 40, 40)
$c_menu_black: $c_black25
$c_menu_gray: #999999

$c_table_link: #56819f

$c_table_background: rgba(177, 191, 191, 0.48) // 0.18

$c_black: rgb(0, 0, 0)
$c_black51: rgb(51, 51, 51)


