@import 'variables'
// import mixins
@import 'reset'

// font-family: 'Norican', cursive;
// font-family: 'Roboto', sans-serif;

ul
    margin: 0
    padding: 0

li
    padding-left: 1em

a
    text-decoration: none
    text-color: $c_white
    display: block
    width: 100%
    cursor: pointer
    &:visited
        color: inherit

.menu_header
    display: inline
    font-family: 'Norican', cursive
    font-size: 24px
    margin-left: 10%

.flexer 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    max-width: 1280px
    margin: 0 auto

.left
    width: 188px
    height: 100vh
    background: rgb(165, 165, 165)
    display: block

.container 
    width: 60%
    background: rgb(255, 201, 255)

.finder 
    width: 100%
    height: 60px
    background: rgb(180, 255, 180)
    display: block

.central, .tabler 
    width: 90%
    height: 500px
    background: rgb(159, 255, 247)
    display: block
    margin: 1em auto

.links 
    width: 80%
    margin: 0 auto


/* ============= toggler ============= */
#expand-toggle 
    display: none
  
  
.expandable 
    display: block
    height: 39px
    width: 100%

    font-size: 14px
    line-height: 42px
    color: $c_menu_gray
    background: silver
    box-sizing: border-box
    overflow: hidden
    &:hover
        border-left: 4px solid $c_menu_orange
        background: $c_menu_black
        color: $c_white


.expandable
    list-style-image: url("../images/details.svg")

.expandable._b
    list-style: url("../images/links.svg")

/* Style the button */
#expand-btn 
    display: inline-block
    margin-top: 12px
    margin-left: 2em
    border: 1px solid
    border-radius: 3px


#expand-toggle:checked ~ * .expandable 
    max-height: 100%


.menu
    width: 100%
    padding: 0
    margin: 0

    
.a 
    position: fixed
    width: inherit
    top: 20px
